[submodule "СКЗИ/malloc"]
	path = СКЗИ/malloc
	url = git@github.com:hse-malloc/malloc.git
[submodule "Сети и системы передачи информации/Лабораторная VyOS OSPF"]
	path = Сети и системы передачи информации/Лабораторная VyOS OSPF
	url = git@github.com:Astrarog/hse-vyos-ospf.git
[submodule "Тервер и матстат/Statistics HW"]
	path = Тервер и матстат/Statistics HW
	url = git@github.com:Astrarog/stat.git
[submodule "СТПиОИ/Сериализация - Персистентный мир"]
	path = СТПиОИ/Сериализация - Персистентный мир
	url = git@github.com:Astrarog/hse-serialization.git
[submodule "Сети и системы передачи информации/Лабораторная NS3-DCE"]
	path = Сети и системы передачи информации/Лабораторная NS3-DCE
	url = git@github.com:Astrarog/hse-ns3-dce.git
[submodule "Сети и системы передачи информации/Лабораторная GoBGP"]
	path = Сети и системы передачи информации/Лабораторная GoBGP
	url = git@github.com:Astrarog/hse-gobgp-bgp.git
[submodule "МЗИвКФСиБД/Антифрод"]
	path = МЗИвКФСиБД/Антифрод
	url = git@github.com:Astrarog/hse-bank-security.git
[submodule "Криптографические методы ЗИ"]
	path = Криптографические методы ЗИ
	url = git@github.com:Astrarog/hse-crypto-methods.git
[submodule "СТПиОИ/Асинхронность - Telnet(like)"]
	path = СТПиОИ/Асинхронность - Telnet(like)
	url = git@github.com:Astrarog/hse-asio.git
